
.packages
	padding: 40px 0 70px 0
	&__title
		ffont-style: normal
		font-weight: bold
		font-size: 36px
		line-height: 45px
		text-align: center
		text-transform: uppercase
		margin-top: 0
		margin-bottom: 65px
	&-wrapper
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-template-rows: repeat(2, 1fr)
		grid-gap: 30px
		overflow: hidden
	&__card
		position: relative
		display: flex
		flex-direction: column
		max-width: 730px
		height: 500px
		overflow: hidden
		border-radius: 10px
		background-color: $dark
		&--large
			display: flex
			flex-direction: row
			grid-column: span 2
		&-image
			height: 250px
			object-fit: cover
			width: 730px
			&--large
				width: 366px
				height: 500px
		&-offer
			top: 26px
			left: 0
			position: absolute
			background-color: #EC1F46
			padding: 4px 9px
			border-radius: 0px 4px 4px 0px
			color: $light
			font-style: normal
			font-weight: 600
			font-size: 8px
			line-height: 10px
			&--large
				width: 95px
				padding: 8px 12px
				font-style: normal
				font-weight: 600
				font-size: 12px
				line-height: 15px
		&-info
			display: flex
			flex-direction: column
			padding: 30px 19px 25px 32px
			color: $light
			&--large
				padding: 46px 21px 30px 44px
		&-stars
			display: flex
			justify-content: space-between
			max-width: 48px
			margin-bottom: 5px
		&-title
			font-style: normal
			font-weight: bold
			font-size: 18px
			line-height: 23px
			margin-top: 0
			margin-bottom: 23px
			&--large
				margin-top: 0
				margin-bottom: 27px
		&-description
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 160.6%
			margin-top: 0
			margin-bottom: 46px
		&-ul
			list-style: none
			padding: 0
			margin-top: 0
			margin-bottom: 13px
			&--large
				margin-bottom: 25px
		&-icon
			margin-right: 12px
		&-text
			font-style: normal
			font-weight: normal
			font-size: 12px
			line-height: 15px
			margin-bottom: 8px
			&--transform
				display: inline-block
				transform: translateY(-15%)
			&--large
				margin-bottom: 9px
		&-discount
			font-style: normal
			font-weight: normal
			font-size: 14px
			text-decoration-line: line-through
			line-height: 18px
			&--large
				margin-top: 0
		&-booking
			display: flex
			align-items: center
			justify-content: space-between
		&-price
			font-style: normal
			font-weight: bold
			font-size: 24px
			line-height: 30px
		&-button
			font-style: normal
			font-weight: 600
			font-size: 14px
			line-height: 19px
			color: $light
			padding: 11px 27px
			border: none
			background-color: $primary
			border-radius: 4px
			cursor: pointer
